<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>
    <link rel="icon" href="../../Assets/Imagenes/Logos/FoodieLogo.png">
    <link rel="stylesheet" href="../../../views/ContactUs/EnterpriseCU/ContactUsE.css">
</head>
<body>
    <section id="Contact">
        <a id="ReturnHome" onclick="irHome()"><img src="../../Assets/Imagenes/Recursos extras/home.png" alt=""></a>
        <!-- Este boton debe llevarte al home de la empresa -->
        <h1 class="CU">C<span>o</span>ntact us</h1>
        <div class="lineaH1"></div>
         <div class="triBlock2">
            <div class="triangulo"></div>
    <div class="ParteMedia">
        <h2 class="ES">Tu tiemp<span>o</span>,<br>tu c<span>o</span>mida,</br>tu manera.</h2>
        <div class="cuadroFormulario">
            <div class="FoodieLog">
                <img id="FLog" src="../../Assets/Imagenes/Logos/FoodieNegro.png" alt="Foodies">
            </div>
            <div class="linea"></div>
          <form class="form" action="/" method="post">
            <div class="SeccionIzquierda">
                <input class="introducir" type="text" id= "nombreE" name= "nombre" placeholder="Nombre">
                <input class="introducir" type="text" id= "correoE" name= "correo" placeholder="Correo">
                <input class="introducir" type="text" id= "telefonoE" name= "telefono" placeholder="Teléfono">
                <button class="botonSend" type="submit">Enviar</button>
            </div>
            <div class="SeccionDerecha">
                <input class="message" type="text" id= "mensajeE" name= "mensaje" placeholder="(Mensaje)">
            </div>
            </form>
        </div>
        </div> 
        
    </div>
    </section>
</body>
<script src="../../../views/ContactUs/EnterpriseCU/ContactUsE.js"></script>
</html>