<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="icon" href="../../Assets/Imagenes/Logos/FoodieLogo.png">
    <link rel="stylesheet" href="../../views/SingUp-P/singup-p.css">
</head>
<body>
    <header>
        <button id="botonBarra">
            <img id="barra" src="../Assets/Imagenes/Logos/FoodieOriginal.png" alt="Foodie">
        </button>
    </header>
    <section>
        <form class="login" action="/signUp-P" method="post" id="registerForm">
            <div class="titulo">
            <img src= "../assets/Imagenes/Logos/blacklogo.png" alt="">
            <h1>Crear Cuenta</h1>
            </div>
            <hr>
                <input placeholder="Nombre De La Empresa" type="text" name="nombre" id="nombre" maxlength="30" required>
                <input placeholder="Número Telefónico" type="number" name="telefono" id="telefono" maxlength="10" required>
                <input placeholder="RFC" type="text" name="rfc" id="rfc" maxlength="13"required>
                <input placeholder="Dirección Comercial" type="text" name="direccion" id="direccion" maxlength="30" required>
                <input placeholder="Régimen Fiscal" type="text" name="regimen" id="regimen" maxlength="80" required]>
                <input placeholder="Correo Electrónico Corporativo" type="email" name="correo" id="correo" maxlength="50" required>
                <input placeholder="Contraseña" type="password" name="contraseña" id="contraseña" maxlength="16" required>
                <input placeholder="Confirmar Contraseña" type="password" id="password" name="password" maxlength="16"  required>
             
                <button id="Siguiente2"type="submit">Siguiente</button>
              
            </form>
    </section>
    <header>
        <button id="botonBarra">
            <img id="barra" src="../Assets/Imagenes/Logos/FoodieOriginal.png" alt="Foodie">
        </button>
    </header>
    <script src="../../views/SingUp-P/singup-p.js"></script>
</body>
</html>