<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodiebox</title>
    <link rel="icon" href="../../Assets/Imagenes/Logos/FoodieLogo.png">
    <link rel="stylesheet" href="../../views/foodiebox/foodiebox.css">
</head>
<body>
    <header>
        <img src="../assets/Imagenes/Logos/FoodieOriginal.png" alt="Foodie">
        <input type="checkbox" id="check">
        <label for="check" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <ul class="paginas">
           <li><button onclick="irHome()">Pedidos Pendientes</button></li>
           <li><button onclick="irQA()">Preguntas Frecuentes</button></li>
           <li><button onclick="irContact()">Contact</button></li>
           <li><button onclick="irFoodiebox()">Mi Foodiebox</button></li>
        </ul>
        <div class="funciones">
            <button title="ir hacia el perfil"class="perfil" onclick="irProfile()"></button>
        </div>
    </header>

    <section>
        <div id="instructions">
           <h1> Bienvenido, para enlazar tu foodiebox sigue las siguientes instrucciones </h1>
            <ul class="instruccciones">
                <li>Paso 1: Identifica el numero serial de tu foodiebox que se encuentra al reverso de la misma</li>
                <li>Paso 2: Escribelo en el siguiente campo  y dale click a ENLAZAR</li>
                <li>Paso 3: Empieza a usar la foodiebox para aumentar tus ventas :)</li>
            </ul>
        </div>
        <div id="addFoodiebox">
            <p>Liga tu foodiebox</p>
            <input type="text" id="numSerie">
            <button id="enlazar" type="button" onclick="ligar()">ENLAZAR</button>
        </div>
    </section>

        <script src="../../views/foodiebox/foodiebox.js"></script>
</body>
</html>