<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="icon" href="../../Assets/Imagenes/Logos/FoodieLogo.png">
    <link rel="stylesheet" href="../../views/homeP/homep.css">
</head>
<body>
    <header>
        <img src="../assets/Imagenes/Logos/FoodieOriginal.png" alt="Foodie">
        <input type="checkbox" id="check">
        <label for="check" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <ul class="paginas">
           <li><button onclick="irHome()">Pedidos Pendientes</button></li>
           <li><button onclick="irQA()">Preguntas Frecuentes</button></li>
           <li><button onclick="irContact()">Contact</button></li>
           <li><button onclick="irFoodiebox()">Mi Foodiebox</button></li>
        </ul>
        <div class="funciones">
            <button title="ir hacia el perfil"class="perfil" onclick="irProfile()"></button>
        </div>
    </header>
    <section id="waiting">
        <div class="superior">
            <div class="listos">
                <p>Pedidos En Curso</p>
                <a href="#pendient" id="listos"></a>
            </div>
            <h1 class="titulo">Pedidos en Aceptacion</h1>
            <div class="buscador">
                <button id="nobuscarpendiente"></button>
                <input type="text" name="busqueda" id="busqueda">
                <button id="buscarpendiente"></button>
            </div>
        </div>
        <div id="pedidoswaiting">
        </div>
    </section>
    <section id="pendient">
        <div class="superior">
            <div class="listos">
                <p>Pedidos Listos</p>
                <a href="#ready" id="listos"></a>
            </div>
            <h1 class="titulo">Pedidos en Curso</h1>
            <div class="buscador">
                <button id="nobuscarpendiente"></button>
                <input type="text" name="busqueda" id="busqueda">
                <button id="buscarpendiente"></button>
            </div>
        </div>
        <div id="pedidospendientes">
        </div>
    </section>
    <section id="ready">
        <div class="superior">
            <div class="listos">
                <p>Pedidos En Curso</p>
                <a href="#pendient" id="listos"></a>
            </div>
            <h1 class="titulo">Pedidos Listos</h1>
            <div class="buscador">
                <button id="nobuscarlisto"></button>
                <input type="text" name="busqueda" id="busquedaL">
                <button id="buscarlisto"></button>
            </div>
        </div>
        <div id="pedidoslistos">
        </div>
        
    </section>
    <script src="../../views/homeP/homep.js"></script>
</body>
</html>