<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="icon" href="../../Assets/Imagenes/Logos/FoodieLogo.png">
    <link rel="stylesheet" href="../../views/confirmacionPedido/confirmacion.css">
</head>
<body>
    <header> 
        <img id="barra" src="../../assets/Imagenes/Logos/FoodieOriginal.png" alt="Foodie">
        <input type="checkbox" id="check">
        <label for="check" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <ul class="paginas">
           <li><button onclick="irHome()">Home</button></li>
           <li><button onclick="irPedidos()">Mis Pedidos</button></li>
           <li><button onclick="irQA()">Preguntas Frecuentes</button></li>
           <li><button onclick="irContact()">Contact</button></li>
        </ul>
        <div class="funciones">
            <button title="desplegar la bolsa" onclick="irBag()" class="bolsa"></button>
            <button title="ir hacia el perfil" onclick="irProfile()" class="perfil"></button>
        </div>
    </header>
    <section id="pendient">
        <div class="superior">
            <h1 class="titulo">Pedidos en Curso</h1>
        </div>
        <div id="pedidospendientes">
        </div>
    </section>
    <script src="../../views/confirmacionPedido/confirmacion.js"></script>
</body>
</html>