<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <link rel="stylesheet" href="../../../views/EnterpriseProfile/Estadisticas/Estadisticas.css">
    <link rel="icon" href="../../Assets/Imagenes/Logos/FoodieLogo.png">
</head>
<body>
    <div id="LeftPart">
        <div id="ContentLeft">
            <a class="Foodie" href="/homeP"><img class="Foodie" src="../../../Assets/Imagenes/Logos/FoodieBlanco.png" alt="Foodie"></a>
            <input type="checkbox" id="check">
        <label for="check" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
            <hr class="HeaderLine">
            <ul class="List">
            <div class="Imagen" id="openModalImage"></div>
            <ul id="Categories">
                <a href="/providerProfile" class="Category" id="P"><img class="Icons" src="../../../Assets/Imagenes/Recursos extras/avatarN.png" alt="Perfil">Perfil</a>
                <a href="/providerProfileHistory" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/historial.png" alt="Historial" class="Icons">Historial de pedidos</a>
                <a href="/providerProfileMenu" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/menu.png" alt="Menu" class="Icons">Menu</a>
                <a href="/providerProfileStatistics" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/estadisticas.png" alt="Estadisticas" class="Icons">Estadisticas</a>
                <a href="/providerQA" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/preguntas.png" alt="Q&A" class="Icons">Preguntas frecuentes</a>
                <a href="/homeP"  class="Button" id="Orders">Pedidos en curso</a>
            </ul>
            </ul>
        </div>
        
    </div>

    <div id="RightPart">
        <div class="Bloques" id="Bloques">
            <div class="Block" id="Categorias">
                <button class="Categoria" id="Todas" onclick="filtrar(this.id)">Todo</button>
                <button class="Categoria" id="Comida" onclick="filtrar(this.id)">Comida</button>
                <button class="Categoria" id="Bebidas"  onclick="filtrar(this.id)">Bebidas</button>
                <button class="Categoria" id="Frituras"  onclick="filtrar(this.id)">Frituras</button>
                <button class="Categoria" id="Dulces"  onclick="filtrar(this.id)">Dulces</button>
                <button class="Categoria" id="Otros"  onclick="filtrar(this.id)">Otros</button>
            </div>
            <div class="Block" id="Filter">
                <h1>Filtro</h1>
                <button class="FElement" onclick="setBarras('1W')" id="1W">Semana</button>
                <button class="FElement" onclick="setBarras('1M')" id="1M">Mes</button>
                <button class="FElement" onclick="setBarras('6M')" id="6M">6 meses</button>
            </div>
            <div class="Block" id="Total">
                <p class="TdC">Venta de la semana:</p>
                <div id="CategoryTotal"><b></b></div>
            </div>
            <div class="Block" id="Sellers">
                <p>Más vendidos</p>
                <div class="top">
                    <div id="BestSellers"><p id="Top1"></p></div>
                    <div id="BestSellers"><p id="Top2"></p></div>
                    <div id="BestSellers"><p id="Top3"></p></div>
                </div>
                <div class="Numeros">
                    <p class="position">1</p>
                    <p class="position">2</p>
                    <p class="position">3</p>
                </div>
            </div>
        </div>
        
        <div class="Graphs" id="Graphs">
            <div class="NumerosIzq">
                <p id="marca 1">--</p>
                <p id="marca 2">--</p>
                <p id="marca 3">--</p>
                <p id="marca 4">--</p>
                <p id="marca 5">--</p>
                <p id="marca 6">--</p>
                <p>0</p>
            </div>
            <div class="ContenedorGrafica" id="ContenedorGrafica">
                </div>
            </div>
            <div class="ContenedorVacio">
                <ul class="ListaProductosi" id="ListaProductos">
                </ul>
            </div>
        </div>
    </div>
    <script src="../../../views/EnterpriseProfile/Estadisticas/Estadisticas.js"></script>
</body>
</html>