@font-face {
    font-family: 'Nunito';
    src: url('../../../Assets/Tipografias/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'NunitoBold';
    src: url('../../../Assets/Tipografias/Nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: bold; 
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito' , sans-serif;
}
body::-webkit-scrollbar {
    width: 1vw;
    background: #d9d9d9ff;
}
body::-webkit-scrollbar-thumb {
    background: #ff9900ff;
    border-radius: 10%;
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 22% auto;
    background-color: #efefefff;
}
#check {display: none}
a {
    color: inherit; 
    text-decoration: none;
  }
.Button {
    height: 28%;
    width: 80%;
    background-color: #ffc029ff;
    border-radius: 2vh;
    margin: auto;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}
.Button:Hover {
    background-color: rgb(255, 168, 7);
    transition: 0.2s ease-in;
}
#LeftPart {
    background-color: #404040ff;
    height: 100vh;
}
#ContentLeft {
    background-color: #404040ff;
    height: 100vh;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}
.List {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}
.Foodie {
    height: 5.8vw;
    width: auto;
}
hr {
    margin: 1vw;
    height: .1%;
    width: 85%;
    background-color: #efefef;
    border-radius: 10%;
}
.Imagen {
    background-color: #eeeeeeff;
    object-fit: cover;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    margin: 0% 15%;
}

#Categories {
    height: 60%;
    width: 90%;
    background-color: #efefefff;
    margin-left: auto;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 0;
}
    .Category {
        height: 14%;
        width: 100%;
        background-color: #efefefff;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .Category:hover {
        background-color: rgb(218, 218, 218);
    }
    #P {
        border-top-left-radius: 1.5vh;
    }
    #Orders {
        height: 15%;
        margin: 0;
    }
    .Icons {
        height: 70%;
        width: auto;
        margin: 0 10% 0 10%;
    }
@media (width < 600px) {
    html {
        height: 100%;
    }
    body {
        grid-template-columns: 1fr;
        height: 100%;
        grid-template-rows: 10% 90%;
    }
    #LeftPart {
        background-color: red;
        height: 10vh;
        width: 100%;
    }
    hr {
        display: none;
    }
    #ContentLeft {
        flex-direction: row;
        height: 10vh;
        width: 100%;
    }
    #Orders {
        height: 10%;
        width: 20%;
    }
    #RightPart{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 30% 30% 40%);
    }
    .PAct {
        font-size: 6vw;
    }
    .Info {
            font-size: 3vw;
    }
    .Activity {
        font-size: 2vw;
    }
    .Switch {
        width: 24vw;
        height: 8vw;
    }
    .Slider:before {
        height: 7vw;
        width: 12vw;
        border-radius: 4vh;
    }
    .Code {
        font-size: 4vw;
    }
    .Preparation {
        font-size: 4vw;
    }
    .Rate {
        font-size: 3vw;
        margin: auto;
    }
                        /*ESTILOS PARA BOTON HAMBURGUESA*/
    .menu-button {
        margin-right: auto;
        margin-left: auto;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .bar {
        width: 30px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        transition: transform 0.3s, opacity 0.3s;
    }
    input[type="checkbox"]:checked + .menu-button .bar:nth-child(1) {
        transform: translateY(12.5px) rotate(45deg);
    }
    
    input[type="checkbox"]:checked + .menu-button .bar:nth-child(2) {
        opacity: 0;
    }
    
    input[type="checkbox"]:checked + .menu-button .bar:nth-child(3) {
        transform: translateY(-12.5px) rotate(-45deg);
    }
    #check {
        display: none;
    }
    #check:checked ~ .List {
        height: 100vh;
    }
    .List {
        height: 0vh;
        width: 100%;
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(5px);
        overflow: hidden;
        position: absolute;
        top: 10vh;
        transition: height .5s ease;
        z-index: 1000;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Imagen {
        height: 24vw;
        width: 24vw;
    }
    #Categories {
        background-color: transparent;
        margin: 0;
    }
    .Category {
        border-radius: 2vh;
        height: 10%;
        width: 50%;
        background-color: #efefefff;
        display: flex;
        align-items: center;
        justify-content: left;
    }
}
                                                                        /*FIN DE LA SECCION IZQUIERDA*/
.RightPart {
    height: 97%;
    width: 97%;
    background-color: white;
    border-radius: 4vh;
    box-shadow: 7px 6px 21px -1px rgba(0,0,0,0.35);
    margin: auto;
    display: grid;
    grid-template-rows: 6% auto 9%;
}
h1 {
    margin: auto;
}
.Questions {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
    overflow-y: scroll;
}
.LeftSection, .RightSection {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
#ContactUs {
    height: 80%;
    width: 20%;
}
h3, p {
    text-align: center;
}
.subirFoto{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ff9900;
    background-image: url("../../../Assets/Imagenes/Recursos%20extras/pencil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 5px;
    position: relative;
    top: -40px;  
    right: 40%;
}
.pls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}