<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>
    <link rel="icon" href="../../Assets/Imagenes/Logos/FoodieLogo.png">
    <link rel="stylesheet" href="../../../views/EnterpriseProfile/Q&A/Q&A.css">
    <script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
</head>
<body>
    <div id="LeftPart">
        <div id="ContentLeft">
            <a class="Foodie" href="/homeP"><img class="Foodie" src="../../../Assets/Imagenes/Logos/FoodieBlanco.png" alt="Foodie"></a>
            <input type="checkbox" id="check">
        <label for="check" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
            <hr class="HeaderLine">
            <ul class="List">
                <div class="pls">
                    <img src="" id="fotoPerfil" class="Imagen" id="openModalImage">
                    <div id="buttonWidget" class="subirFoto"></div>
               </div>
            <ul id="Categories">
                <a href="/providerProfile" class="Category" id="P"><img class="Icons" src="../../../Assets/Imagenes/Recursos extras/avatarN.png" alt="Perfil">Perfil</a>
                <a href="/providerProfileHistory" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/historial.png" alt="Historial" class="Icons">Historial de pedidos</a>
                <a href="/providerProfileMenu" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/menu.png" alt="Menu" class="Icons">Menu</a>
                <a href="/providerProfileStatistics" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/estadisticas.png" alt="Estadisticas" class="Icons">Estadisticas</a>
                <a href="/providerQA" class="Category"><img src="../../../Assets/Imagenes/Recursos extras/preguntas.png" alt="Q&A" class="Icons">Preguntas frecuentes</a>
                <a href="/homeP"  class="Button" id="Orders">Pedidos en curso</a>
            </ul>
            </ul>
        </div>
        
    </div>
    <div class="RightPart">
        <h1>Preguntas frecuentes</h1>
    <div class="Questions">
        <div class="LeftSection">
            <h3>¿Qué es Foodie?</h3>
            <p>Foodie es una plataforma en línea diseñada para simplificar el proceso de pedido de alimentos en cafeterías y comedores, permitiendo a los usuarios preordenar sus comidas y evitar esperas innecesarias.</p>
            <h3>¿Cómo funciona Foodie?</h3>
            <p>Los usuarios pueden realizar pedidos a través del sitio web, seleccionar el menú deseado, programar la hora de recogida y evitar las filas al llegar al lugar.</p>
            <h3>¿Qué beneficios ofrece Foodie?</h3>
            <p>Foodie ahorra tiempo al permitir a los usuarios evitar colas y planificar sus pedidos con antelación, brindando una experiencia eficiente durante los descansos.</p>
            <h3>¿Cómo puedo registrarme en Foodie?</h3>
            <p>Actualmente, el registro puede estar vinculado a la afiliación con cafeterías o comedores específicos a través de un código proporcionado por la institución.</p>
            <h3>¿Qué información puedo encontrar en mi perfil de usuario?</h3>
            <p>En tu perfil, puedes gestionar tus pedidos pendientes, revisar historiales de pedidos anteriores y ajustar preferencias según tus necesidades.</p>
        </div>
        <div class="RightSection">
            <h3>¿Cómo se asegura Foodie de la disponibilidad de los productos en la cafetería?</h3>
            <p>La plataforma podría integrar funciones para mostrar la disponibilidad en tiempo real, permitiendo a los usuarios tomar decisiones informadas sobre su pedido.</p>
            <h3>¿Foodie está disponible en dispositivos móviles?</h3>
            <p>Aunque el sitio web está en desarrollo, la intención es hacerlo accesible y amigable tanto para usuarios de computadoras como de dispositivos móviles.</p>
            <h3>¿Puedo realizar pedidos desde cualquier lugar del campus?</h3>
            <p>Sí, siempre y cuando estés registrado en el restaurante o cafetería específicos mediante un código proporcionado por la institución.</p>
            <h3>¿Hay costos adicionales por utilizar Foodie?</h3>
            <p>Los costos pueden variar según la cafetería o comedor, pero la intención es mantener tarifas mínimas, posiblemente vinculadas al ahorro de tiempo que brinda el servicio.</p>
            <h3>¿Cómo puedo proporcionar comentarios o sugerencias a Foodie?</h3>
            <p>La sección "Contacto" en el sitio web permitirá a los usuarios enviar comentarios y sugerencias, contribuyendo así a la mejora continua de la plataforma.</p>
        </div>
    </div>
    <a href="/login/homeP/contactP" class="Button" id="ContactUs">Contáctanos</a>
    </div>
</body>
<script src="../../../views/EnterpriseProfile/Q&A/Q&A.js"></script>
</html>